@import 'variables';

:host {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

mat-form-field {
  max-width: 18.75rem;
}

.avg {
  color: $turquoise;
  height: 2.375rem;
  width: 4rem;
}